.history-container {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.history-map-container {
  background: url('../../public/map.png') no-repeat;
  background-size: 110%;
  height: 70vh;
  width: 40vw;
  background-color: #FAFAFA;
  float: left;
}

.history-container h1 {
  margin: 0;
  padding: 0;
  color: #FAFAFA;
  /*display: flex;*/
  /*justify-content: space-around;*/
  /*align-items: space-around;*/
  text-align: center;
  display: block;
}

.input-container {
  /*border: 2px solid red;*/
  height: 70vh;
  width: 30vw;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(200,200,200,.5);
  border-radius: 3px;
}

.history-subcontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*border: 3px solid green;*/
}
/*.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(200,200,200,.5);
  border-radius: 3px;
}*/

.input-container input {
  width: 60%;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.input-container button {
  width: 60%;
  height: 10%;
  border: none;
  border-radius: 4px;
  background-color: firebrick;
  color: #FAFAFA;
  /*margin-top: 20px;*/
}

.input-container select {
  width: 60%;
  height: 10%;
}

.input-container p {
  display: block;
  /*font-size: 10px;*/
  padding: 0;
  color: #FAFAFA;
}

.small-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
